body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Staatliches', sans-serif;
    font-size: 25px;
    font-style: normal;


    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    width: 70%;
    height: 150px;
    background: #264653;
    color: whitesmoke;
    border-radius: 5px;
}

input {
    background: whitesmoke;
    font-style: italic;
    font-size: 20px;
    padding-left: 15px;
    margin-left: 20px;
    height: 50px;
    width: 250px;
    border-width: 2px;
    border-style: inset;
    border-image: initial;
    outline: none;
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}

.icon-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 50px;
}

.icon-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fdfdfd;
    min-height: 250px;
    min-width: 250px;
    margin: 20px;
    box-shadow: 0 2px 3px 0 #264653;
    border-radius: 5px;
    cursor: pointer;
}

.icon-card svg {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}
